* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(56, 64, 61);
  color: white;
}

.container {
  height: 100vh;
  display: flex;
}

.todoList-container {
  margin: auto;
}

.editIcon {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 20px;
  justify-content: center;

  align-self: center;
}
.deleteIcon {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 20px;
  justify-content: center;
  align-self: center;
}
.item-container {
  display: flex;
}

.item-container > h3 {
  flex: 2;
}
.todoform-container {
  display: flex;
  justify-content: center;
}

.title {
  padding-bottom: 40%;
  text-align: center;
}
